* {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

html {
    scroll-behavior: smooth;
}

nav img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 10px solid silver;
}

nav {
    min-height: 100vh;
    width: 270px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgb(72, 9, 219);
}

nav ul {
    list-style-type: none;
}

nav a {
    text-decoration: none;
    font-weight: bold;
    color: whitesmoke
}

section {
    min-height: 100vh;
    background-color: rgb(80, 142, 170);
    margin-left: 270px;
}

.about-us div {
    position: absolute;
    top: 30%;
    background-color: grey;
    margin: 0 0 0 50px;
}

.experiences div {
    margin-top: 50px;
}

h1 {
    color: blue;
}

p {
    color: rgb(216, 18, 18);
}

.travel-entries {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}